body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    height: 100vh;
    width: 100%;
    list-style: none;
}

.navbar {
    background-color: #1E1D67;
    color: #fff;
    padding: 10px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    text-align: center;
    justify-content: start;
}


.content li {
    margin: 3rem;
}

.pet-card {
    background-color: #1E1D67;
    border-radius: 120px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 60px;
    margin-left: 3rem;
}

.pet-image img {
    border-radius: 50%;
    max-width: 175px;
    margin-right: 20px;
}

.pet-info {
    width: 50%;
    margin-left: 7rem;
}

.pet-info h2 {
    justify-self: flex-start;
    margin: 0 0 10px;
    color: #4DFF3E;
}

.pet-info p,
input {
    left: 150px;
    width: 22rem;
    color: #4DFF3E;
    text-align: center;
}

.info-line {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
    max-width: fit-content;
    gap: 10px;
}

.pet-data {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.pet-data input {
    border-radius: 15px;
    padding: 5px;
}

.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.sidebar {
    grid-area: 1 / 1 / 6 / 2;
}

.sidebar a {
    font-size: 12px;
}

.content {
    grid-area: 1 / 2 / 5 / 5;
}