@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    margin: 0;
}

button{
    border: none;
}

.sidebar a{
    text-decoration: none;
    color: #000;
}

.sidebar {
    width: 20%;
    background-color: #fff;
    color: #1E1D67;
    position: fixed;
    height: 100%;
    overflow: auto;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 22.5px;
    row-gap: 15px;
}

.sidebar img{
    width: 50px;
    height: 50px;
}

.sidebar ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.username{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.conteudo {
    width: 80%;
    height: 100%;
    margin-left: 20%;
    margin-top: 65px;
    background-color: #b7bafd;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    position: fixed;
}

.centralizado img{
    height: 500px;
    width: 500px;
}
.centralizado li{
    margin-top: 20px;
}

.pet-card{
    display: flex;
    flex-direction: row;
    background-color: #1E1D67;
    height: 200px;
    border-radius: 100px;
    justify-content: flex-start;
}

.pet-card img{
    height: 180px;
    width: 180px;
    margin-top: 10px;
    margin-left: 10px;
}

.card-info h2{
    color: #4DFF3E;
}

.pet-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.pet-info, .card-info h2 {
    margin-left: -2rem;
}

.info-row {
    display: flex;
    flex-direction: row;
}

.pet-data{
    display: flex;
    margin-right: 20px;
}

.pet-data p, input{
    width: 200px;
}

.pet-data p{
    color: #4DFF3E;
    font-weight: 500;
}

.pet-data input{
    border-radius: 50px;
}

.plano-atual, .opcoes{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}

.plano-atual{
    flex-direction: column;
    background-color: #fff;
}

.plano-atual h2{
    color: #4DFF3E;
    text-decoration: #184d13;
}

.opcoes{
    flex-direction: row;
}