@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

.agendamento {
    display: flex;
    justify-content: center;
    align-items: center;
}

.agendamento h2{
    color: #000;
    font-size: 35px;
}

:root {
    font-size: 62.5%;
    --font-default: 'Montserrat';
    --font-heading: 'Poppins';
    --color-default: #fff;
    --color-secundary: #fff;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-default);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.hamburguer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 2.4rem;
    width: 2.4rem;
    position: fixed;
    right: 2rem;
    top: 2rem;
    z-index: 10;
    cursor: pointer;
}

.linha {
    height: .5rem;
    width: 100%;
    background-color: #4DFF3E;
    box-shadow: 2px 2px 2px #000;
}

.barra-menu {
    background-color: #1E1D67;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.menu {
    height: 100vh;
    width: 30rem;
    position: fixed;
    right: -30rem;
    background-color: #1E1D67;
    z-index: 9;
    transition: right 1s;
    font-size: 1.8rem;
    text-align: center;
    align-content: center;
    justify-content: space-between;
}

a:hover {
    color: #000;
}

.menu ul {
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2rem;
    gap: 1rem;
    z-index: 10;
}

.menu li {
    list-style: none;
    margin-top: 20px;
}

.show-menu {
    right: 0;
}

.btn-cadastrar {
    background-color: #1E1D67;
    text-decoration: underline;
    cursor: pointer;
    color: #fff;
}

.sidebar button,
a {
    text-decoration: none;
    border: none;
    font-size: 2rem;
    font-weight: 100;
    background-color: white;
    cursor: pointer;
    font: var(--font-heading);
}

li span {
    font-size: 3rem;
    font-weight: bold;
    color: #4DFF3E;
}

li input {
    width: 200px;
    height: 40px;
    border-radius: 20px;
}

#login {
    justify-content: space-between;
}

header {
    display: flex;
    align-items: flex-start;
    height: 100vh;
    width: 100%;
    background-image: url("../images/fundo-verde.jpg");
    background-size: cover;
    color: var(--color-default);
    padding: 21rem;
    margin-top: 5rem;
}

h1,
h2,
h3 {
    font-family: var(--font-heading);
    font-weight: 900;
}

h1 {
    font-size: clamp(3rem, 5vw, 6rem);
}

h2 {
    font-size: 4.4rem;
    color: white;
}

p,
span {
    font-size: 3rem;
}

.botao {
    margin-top: 30px;
    max-height: 55px;
    text-align: center;
    padding: 0.8rem 6rem;
    margin-bottom: 10px;
    border-radius: 50px;
    font-size: 3rem;
    color: #fff;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    width: fit-content;
    align-self: center;
    cursor: pointer;
}

.verde {
    background: linear-gradient(90deg, #349c2b 0%, #4DFF3E 100%);
}

.verde:hover {
    background: linear-gradient(90deg, #184d13 0%, #34ad29 100%);
}

.cinza {
    background: linear-gradient(90deg, #303030 0%, #8b8b8b 100%);
}

.vermelho {
    background: linear-gradient(90deg, #910000 0%, #FF0000 100%);
}

.vermelho:hover {
    color: #000;
    background: linear-gradient(90deg, #590000 0%, #8b0000 100%);
}

.amarelo {
    background: linear-gradient(90deg, #dc9900 0%, #FFFF00 100%);
}

.amarelo:hover {
    background: linear-gradient(90deg, #a67900 0%, #e6e600 100%);
}

.azul {
    background: linear-gradient(90deg, #0e0d30 0%, #1E1D67);
}

.azul:hover {
    background: linear-gradient(90deg, #09081f 0%, #0e0d30);
}

section {
    display: flex;
    margin-top: 10px;
    height: 93vh;
    gap: 2rem;
    padding: 8.6rem;
    width: 100%;
}

@keyframes zoom {
    0% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1);
    }
}

.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    border-radius: 20px;
    margin-top: -8rem;
    background: none;
    color: #000;
}

h3 {
    color: #000;
}

.parent h1 {
    color: #000;
    text-align: justify;
    justify-content: center;
    align-self: center;
}

.parent span {
    font-size: 20px;
    text-align: justify;
    color: #000;
}

.card-apresentacao1 {
    height: 480px;
    grid-area: 1 / 1 / 5 / 3;
    background-image: url("../images/undraw_Doctors_p6aq.png");
    background-size: cover;
}

.card-apresentacao2 {
    grid-area: 1 / 3 / 3 / 6;
    margin-top: 0;
    background-image: url("../images/undraw_Dog_c7i6.png");
    background-size: cover;
}

.card-apresentacao3 {
    grid-area: 3 / 3 / 5 / 6;
    background-image: url("../images/undraw_Cat_epte.png");
    background-size: cover;
}

.card-apresentacao1,
.card-apresentacao2,
.card-apresentacao3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #fff;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.92);
    border: 5px inset #1E1D67;
    border-radius: 20px;
}

.card-apresentacao1 li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 5rem;
}

.card-apresentacao2 li {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.card-apresentacao3 li {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.card-apresentacao1 li,
.card-apresentacao2 li,
.card-apresentacao3 li {
    opacity: 0;
    height: 100%;
    width: 100%;
    padding: 15px;
    border-radius: 15px;
}

.card-apresentacao1 li:hover,
.card-apresentacao2 li:hover,
.card-apresentacao3 li:hover {
    transition: ease-in 0.5s;
    opacity: 1;
    background: rgba(0, 0, 0, 0.4);
}

.card-apresentacao1:hover,
.card-apresentacao2:hover,
.card-apresentacao3:hover {
    background-color: rgba(110, 110, 110, 0.8);
}

#planos {
    width: 100%;
    height: 93vh;
    margin-top: 0px;
    background: url('../images/muita-folha.jpg');
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#secao-planos {
    width: 100%;
    height: 80vh;
    display: flex;
    background-size: cover;
    justify-content: space-evenly;
    overflow: hidden;
    padding: 2rem;
}

#secao-planos li {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style: none;
    width: 320px;
    max-height: 650px;
    border-radius: 15px;
    padding: 3rem;
    position: relative;
    cursor: default;
    background-color: #fff;
    border: 5px inset #1E1D67;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.92);
}

#secao-planos li::before {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    filter: blur(2px);
}

#secao-planos li:hover {
    transform: translateY(-7px);
}

#secao-planos ul {
    display: flex;
    list-style: none;
    padding: 0px;
    gap: 8rem;
    justify-content: space-evenly;
}

.card {
    border-radius: 10px;
    margin: 15px;
    padding: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    transition: all 0.9s ease-out;
    gap: auto;
}

.card-image {
    display: flex;
    justify-content: center;
}

.card-image img {
    object-fit: cover;
    border-radius: 50%;
    margin: 0 -5px;
}

.big {
    width: 110px;
    height: 110px;
    z-index: 5;
    top: -10%;
}

.medium {
    width: 80px;
    height: 80px;
}

.card-info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    align-content: flex-end;
}

.card-info h3,
.card-info p,
.card-info h4 {
    margin: 5px 0;
}

.card:hover .card-text {
    opacity: 1;
    bottom: 0;
}

#secao-planos h3 {
    font-family: var(--font-default);
    font-weight: 600;
    font-size: 3rem;
    flex-wrap: nowrap;
    line-height: 3.3rem;
    color: darkblue;
}

#secao-planos h4 {
    font-size: 3rem;
}

#secao-planos p {
    font-size: 15px;
}

.navbar {
    background-color: #1E1D67;
    height: 7rem;
    display: flex;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    z-index: 999;
    position: fixed;
}

.navbar-brand {
    color: #4DFF3E;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
}

.navbar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-menu li {
    margin: 0 10px;
}

.cadastro {
    background-color: #b7bafd;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.cadastro-cliente {
    margin-top: 20px;
    width: 1000px;
    height: 500px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 20px;
    max-height: 90%;
    row-gap: 20px;
    text-align: center;
    justify-content: space-around;
}

.cadastro-cliente input {
    border: none;
    border-radius: 10px;
    background-color: #cccccc;
    height: 40px;
    width: 300px;
}

.cadastro-cliente label {
    font-size: 2.5rem;
    font-weight: bold;
}

.form-line {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 2rem;
}

.plano-atual {
    border: 5px inset #1E1D67;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 30px;
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.opcoes {
    display: flex;
    gap: 20px;
}

.agendamento-info {
    display: flex;
    justify-content: space-around;
    font-weight: 500;
    row-gap: 30px;
}

.agendamento-info label {
    font-size: 20px;
}