@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    --font-default: 'Montserrat';
    --font-heading: 'Poppins';
    --color-default: #fff;
    --color-secundary: #fff;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-default);
    width: 100%;
    height: 100vh;
    display: flex;
}

.hamburguer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 2.4rem;
    width: 2.4rem;
    position: fixed;
    right: 2rem;
    top: 2rem;
    z-index: 10;
    cursor: pointer;
}

.linha {
    height: .5rem;
    width: 100%;
    background-color: #4DFF3E;
    box-shadow: 2px 2px 2px #000;
}

.barra-menu {
    background-color: #1E1D67;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.menu {
    height: 100vh;
    width: 40rem;
    position: fixed;
    right: -40rem;
    background-color: #1E1D67;
    z-index: 9;
    transition: right 1s;
    font-size: 1.8rem;
    text-align: center;
    align-content: center;
}

a:hover {
    color: #000;
}

.menu ul {
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2rem;
    gap: 1rem
}

.menu li {
    list-style: none;
}

.show-menu {
    right: 0;
}

li span {
    font-size: 3rem;
    font-weight: bold;
    color: #4DFF3E;
}

header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    height: 100vh;
    background-image: url('../images/pouca-folha.jpg');
    background-size: cover;
    color: var(--color-default);
    padding: 21rem 11rem;
}

h1,
h2,
h3 {
    font-family: var(--font-heading);
    font-weight: 900;
}

h1 {
    font-size: clamp(3rem, 5vw, 6rem);
}

h2 {
    font-size: 4.4rem;
    color: white;
}

p,
span {
    font-size: 3rem;
}

.botao {
    text-align: center;
    padding: 0.8rem 6rem;
    margin-bottom: 10px;
    border-radius: 50px;
    font-size: 3rem;
    color: #fff;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    width: fit-content;
    align-self: center;
    cursor: pointer;
}

.verde {
    background: linear-gradient(90deg, #349c2b 0%, #4DFF3E 100%);
}

.verde:hover {
    background: linear-gradient(90deg, #184d13 0%, #34ad29 100%);
}

.cinza {
    background: linear-gradient(90deg, #303030 0%, #8b8b8b 100%);
}

section {
    display: flex;
    gap: 2rem;
    padding: 8.6rem;
}

@keyframes zoom {
    0% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1);
    }
}

#titulo {
    background-color: linear-gradient(90deg, #349c2b 0%, #4DFF3E 100%);
    justify-content: flex-start;
    max-width: fit-content;
    height: fit-content;
    padding: 15px;
    border-radius: 25px;
    position: relative;
    top: -10%;
    font-weight: bold;
}

.card-apresentacao {
    max-width: 80rem;
    text-align: center;
    display: flex;
    background: rgba(0, 0, 0, 0.6);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    flex-direction: column;
    position: relative;
    padding: 3rem;
    row-gap: 1rem;
    align-self: center;
    top: -20%;
}

.img-apresentacao {
    max-width: 200px;
    height: 200px;
    border-radius: 25px;
    position: relative;
    margin: auto;
    top: -10%;
    background-size: cover;
}

#texto-apresentacao {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
}

#secao-planos {
    display: flex;
    background: url('../images/muita-folha.jpg');
    height: 93vh;
    justify-content: space-evenly;
    overflow: hidden;
}

#secao-planos li {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style: none;
    max-width: 400px;
    max-height: 650px;
    border-radius: 15px;
    padding: 3rem;
    gap: 5rem;
    position: relative;
    cursor: pointer;
    background-color: #fff;
    border: 5px inset #1E1D67;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.92);
}

#secao-planos li::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    filter: blur(2px);
}

#secao-planos li:hover {
    transform: translateY(-7px);
}

#secao-planos ul {
    display: flex;
    list-style: none;
    padding: 0px;
    gap: 10rem;
    justify-content: space-evenly;
}

.card {
    border-radius: 10px;
    margin: 15px;
    padding: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    transition: all 0.9s ease-out;
    gap: auto;
}

.card-image {
    display: flex;
    justify-content: center;
}

.card-image img {
    object-fit: cover;
    border-radius: 50%;
    margin: 0 -5px;
}

.big {
    width: 110px;
    height: 110px;
    z-index: 5;
    top: -10%;
}

.medium {
    width: 80px;
    height: 80px;
}

.card-info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-info h3,
.card-info p,
.card-info h4 {
    margin: 5px 0;
}

.card:hover .card-text {
    opacity: 1;
    bottom: 0;
}

#secao-planos h3 {
    font-family: var(--font-default);
    font-weight: 600;
    font-size: 3rem;
    line-height: 3.3rem;
    color: darkblue;
}

#secao-planos h4 {
    font-size: 3rem;
}

#secao-planos p {
    font-size: 18px;
}

.navbar {
    background-color: #1E1D67;
    height: 65px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    z-index: 999;
    position: fixed;
}

.navbar-brand {
    color: #4DFF3E;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
}

.navbar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-menu li {
    margin: 0 10px;
}


.cadastro {
    background-color: #b7bafd;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.cadastro-cliente {
    margin-top: 20px;
    width: 1000px;
    height: 500px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 20px;
    max-height: 90%;
    row-gap: 20px;
    text-align: center;
    justify-content: space-around;
}

.cadastro-cliente input {
    border: none;
    border-radius: 10px;
    background-color: #cccccc;
    height: 40px;
    width: 300px;
}

.cadastro-cliente label {
    font-size: 2.5rem;
    font-weight: bold;
}

.form-line {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 2rem;
}


.container{
    margin-top: 10rem;
    width: 80%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    background-color: #b7bafd;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
}

.form-image{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    background-size: cover;
}

.form-image img{
    width: 60rem;
}

.form{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #cccccc;
    padding: 3rem;
}

.form-header{
    margin-bottom: 3rem;
    display: flex;
}

.titulo{
    background-color: linear-gradient(90deg, #349c2b 0%, #4DFF3E 100%);
    justify-content: flex-start;
    max-width: fit-content;
    height: fit-content;
    padding: 15px;
    border-radius: 25px;
    position: relative;
    top: -10%;
    font-weight: bold;
}

.cadastrar-button button{
    text-decoration: none;
    border: none;
    border-radius: 50%;
}

.form-header h1::after{
    content: '';
    display: block;
    font-family: 'Inter';
    width: 10rem;
    height: 0.6rem;
    background-color: #4DFF3E;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.input-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}

.input-box {
    display: flex;
    flex-direction: column;
}

.input-box input{
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 2px 6px #444444;
}

.input-box input:hover{
    background-color: #eeeeee;
}

.input-box input:focus-visible{
    outline: 1px solid #303030;
}

.input-box label,
.gender-title{
    
}